@{
    ViewData["Title"] = "Index";
}

<h2>URL Minifier</h2>

<p>Welcome to the URL minifier website!</p>
<div class="container center_div">
    <form method="post" asp-controller="URLShortener" asp-action="Submit">
        <p>
            URL: <input type="url" name="longURL" pattern="https?://.+" required />
            <input type="submit" />
        </p>
    </form>
    @if(!string.IsNullOrEmpty(ViewBag.URL))
    {
    <p>Click to copy minified URL: <a href="#" onclick="CopyToClipboard('aMinifiedURL');event.preventDefault();" id="aMinifiedURL">@ViewBag.URL</a></p>
    }
    @if(Convert.ToBoolean(ViewBag.Error))
    {
    <p>Looks like you've been given a dead link.</p>
    }
</div>
<script>
    function CopyToClipboard(id) {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
        window.alert('Copied')
    }
</script>